@charset "UFT-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

:root {
    --cor1:#86A7EB;
    --cor2:#637CAE;
    --cor3:#3F78EB;
    --cor4:#2B519F;
    --cor5:#1D376B;

    --font-texto: 'Poppins', sans-serif;
    --font-titulo:'Anton', sans-serif;
    --font-sub:'Emilys Candy', cursive;
}

html, body {
    font-family: var(--font-texto);

    background-color: var(--cor1);
}

header {
    text-align: center;
}

header h1 {
    font-family: var(--font-titulo);
    font-weight: bold;
    font-size: 10vw;

    color: var(--cor5);
    margin-bottom: 50px;
    transition: .8s;
}

header h1:hover {

    border-radius: 50px;
    box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.527);
    color: white;
    background-color: var(--cor5);
}

header img {
    margin-top: 50px;
    border-radius: 50%;
}

main {
    text-align: center;
    max-width: 100vh;
    margin: auto;
    margin-bottom: 30px;

    box-shadow: 2px 2px 15px rgba(0, 0, 255, 0.493);
    background-color: white;

    border-radius: 30px;  
}

main h1 {
    font-family: var(--font-titulo);
    font-weight: normal;
    font-size: 2em;

    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    color: var(--cor5);
    background-color: var(--cor2);
    transition: .8s;
}

main h1:hover {
    background-color: var(--cor5);
    color: white;
}

section {
    line-height: 2em;
}

section h2 {
    margin: 20px 0px;
    font-size: 1.8em;

    color: var(--cor4);
}

section p {
    margin-bottom: 30px;
}

section a.esquerda {
    display: block;
    text-align: end;
    font-weight: bold;

    margin-right: 20px;
}

section a.esquerda:hover {
    text-decoration: underline;
}


a {
    text-decoration: none;
    color: var(--cor4);
}

section.imagem {
    background-color: var(--cor2);
    color: white;
    background-repeat: no-repeat;
    background-position: center center;
    text-shadow: 1px 1px 0px black;
}


section#img1 {
    background-attachment: fixed;
    background-image: url('../image/01.jpg');
}

section#img2 {
    background-attachment: fixed;
    background-image: url('../image/02.jpg');
}

footer {
    text-align: center;
    margin-bottom: 10px;
}

footer p {
    font-weight: bold;
    color: white;
    transition: .8s;
}

footer p:hover {
    color: var(--cor5);
}

footer a {
    font-weight: bold;
    color: var(--cor5);
    transition: .8s;
}

footer a:hover {
    text-decoration: underline;
    color: white;
}